@page "/admin"

<PageTitle>AdminPage</PageTitle>

<p><h1>Admin Controls</h1></p>
<p><h3>Welcome to the admin page, please select what you would like to do</h3></p>

<p><NavLink href="/messages/admin">Go to Admin Messages</NavLink></p>
<p><NavLink href="/admin/dogs">Go to Dog Info Page</NavLink></p>
