@page "/admin/dogs"

<PageTitle>AdminDogPage</PageTitle>
<p><h3>Welcome to the admin page for dog listings!</h3></p>
<p><h3>Select what you would like to do with the listings!</h3></p>

<p><NavLink href="/dogs/create">Go to Dog Listing Adding Page</NavLink></p>
<p><NavLink href="/dogs/delete">Go to Dog Listing Removing Page</NavLink></p>
<p><NavLink href="/dogs/edit">Go to Dog Listing Editing Page</NavLink></p>
<p><NavLink href="/dogs/details">Go to Dog Details Page</NavLink></p>
<p><NavLink href="/dogs/index">Go to Dog Index Page</NavLink></p>