@using FEH.Components.Models
@page "/notes"
    <div class="col-6">
        <h2>Enter your note</h2>
        <fieldset>
            <label for="Comment">
                <teatarea id="Comment" cols="50" rows="6" @bind="NewComment" @bind:event="onchange"></teatarea>
            </label>
        </fieldset>
        <button type="submit" @onclick="OnSubmitNote">Submit</button>
    </div>
    <div class="col-6">
        <h2>Your saved notes</h2>
        @if (Notes?.Any() ?? false)
        {
            <ul>
                @foreach (var note in Notes)
                {
                    <NoteViewComponent Note = "@note" ></NoteViewComponent>
                }
            </ul>
        }
        else
        {
            <p>You currrently do not have any saved notes.</p>
        }
    </div>
@code {

    public required IList<Note> Notes { get; set; }

    public required string NewComment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Notes = new List<Note>();

        await base.OnInitializedAsync();
    }

    protected void OnSubmitNote(MouseEventArgs mouseEventArgs)
    {
        Notes.Add(new Note(NewComment));
        NewComment = string.Empty;
    }
}