<h3>AdminPage</h3>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/dogs/details" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Display dogs
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="/users/details" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Delete users
    </NavLink>
</div>

@code {

}
