@page "/adopt"

<PageTitle>Adoption Form</PageTitle>
<h3>Adoption Form</h3>
<p>First Name</p>
<input id="firstname" type="text" />
<p>Last Name</p>
<input id="lastname" type="text" />
<p>Email</p>
<input id="email" type="email" />
<p>Street Address</p>
<input id="address" type="text" />
<input type="submit" value="Submit" />
@code {
    
}

