@page "/"
<PageTitle>Home</PageTitle>
<Popup @ref="popupRef" />
@code{
    Popup popupRef;
}
<head>
    <style>
        body {
            background: url("../assets/paper.jpg") left top repeat;
        }

        .yeesh {
        }

        img {
            border-radius: 8px;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="yeesh">
<h1>Home Page</h1>
        <img src="../assets/golden-retriever-tongue-out.png" width="200" height="200">
        <br />
        <br />
        <p>
            This is the Fur-Ever Homes website for adopting dogs. Go to the register page to start.
        </p>
    </div>
</body>