@using System.Linq;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;
@using FEH.Components;
@using Microsoft.EntityFrameworkCore
@using FEH
@inject IDbContextFactory<FEH.Data.FEHContext1> DbFactory
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@page "/login"
<PageTitle>Login</PageTitle>
<head>
    <style>
        body{
        background: url("../assets/paper2.jpg") left top repeat;
        }
    </style>
</head>
<h1>login</h1>
<label for="username">Username:  </label>
<InputText @bind-Value="username" />
<br />
<label for="password">Password:  </label>
<InputText @bind-Value="password" />
<br>
<br>
<button @onclick="login">Login</button>
<button @onclick="loginasadmin">Login as Admin</button>

<br>
<Popup @ref="popupRef" />
@code{

    private Popup popupRef;
    [Parameter]
    public string? username { get; set; }
    private string? password { get; set; }
    private void login()
    {
        using var dbcon = DbFactory.CreateDbContext();
        var result = (from User in dbcon.User
                      where User.username == username&&User.password==password
                      select User);
        User a=null;
        try{
            a = result.ElementAt(0);
        }
        catch
        {
        }
        
        if(a!=null){
            popupRef.Show("success");
            userDetails.id = a.id;
            userDetails.isAdmin = false;
        }
        else{
            popupRef.Show("failure");
        }
    }
    private void loginasadmin()
    {
        using var dbcon = DbFactory.CreateDbContext();
        var result = (from User in dbcon.User
                      where User.username == username && User.password == password&&User.isAdmin
                      select User);
        User a = null;
        try
        {
            a = result.ElementAt(0);
        }
        catch
        {
        }

        if (a != null)
        {
            popupRef.Show("success");
            userDetails.id = a.id;
            userDetails.isAdmin = true;
            NavigationManager.NavigateTo("/admin");
        }
        else
        {
            popupRef.Show("failure");
        }
    }
}
<!--
@code{

    [SupplyParameterFromForm]
    private string? username{ get; set; }
    private string? password{ get; set; }
    //
    private void test()
    {
        Console.WriteLine("Hello World!");
        StateHasChanged();

    }

    //private void loginasadmin(){

    //}

}-->
