@page "/messages"
@using Microsoft.EntityFrameworkCore
@using FEH.Components
@inject IDbContextFactory<OurDogs.Data.FEHContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>MessagingPage</PageTitle>
<p><h1>Secure Messaging</h1></p>