@page "/policies"

<PageTitle>Adoption Policies</PageTitle>

<div>
    <h2>Our Policies</h2>
    <p>At Fur-Ever Homes, we have some polices in place to ensure that our dogs have a safe home. 
        If you have any questions, feel free to visit our contact page</p>
    <p>We also reserve the right to deny any adoption request that we deem unfit.</p>
    <h5>Income</h5>
        <p>We require a minumum monthly income of $3000 dollars. Depending on the situation, this may not be enoug to ensure
            that the dog has a safe home. If you feel that you would be able to take care of a dog and you do not met this
            requirement, please feel free to apply and we will review your case</p>
    <h5>Number of Pets in a household</h5>
    <p>We have a limit of 6 pets per household in order to adopt a dog. This is to ensure that the dog will be cared for enough
        and 
    </p>
    
    <!--
        I also need criminal record, misdemeanors are up to judgement, deny applicants, virtual interview, 
        or in person, pet history, how many people in household, return policy but please refer to 
        about us issues page
    -->
    
</div>

@code {



}