@page "/policies"

<PageTitle>Adoption Policies</PageTitle>

<div class="dog-policies">
    <h2>Our Policies</h2>
    <p>
        At Fur-Ever Homes, we have policies in place to ensure that our dogs find safe and loving homes.
        If you have any questions, feel free to visit our <a href="/contact">contact page</a>.
    </p>
    <p>We also reserve the right to deny any adoption request that we deem unfit.</p>

    <div class="policy-section">
        <h5>Income</h5>
        <p>
            We require a minimum monthly income of $3000. Depending on the situation, this may not be enough
            to ensure the dog has a safe home. If you feel you can care for a dog but do not meet this
            requirement, feel free to apply, and we will review your case.
        </p>
    </div>

    <div class="policy-section">
        <h5>Number of Pets in a Household</h5>
        <p>
            We have a limit of 6 pets per household to ensure the dog will receive enough care
            and the household will not be overcrowded.
        </p>
    </div>

    <div class="policy-section">
        <h5>Number of Human Residents in a Household</h5>
        <p>
            We have a maximum of 8 residents per household to prevent overcrowding and ensure
            the dog gets adequate attention. Households with a large number of both humans and pets
            may have their applications denied.
        </p>
    </div>

    <div class="policy-section">
        <h5>Criminal Record</h5>
        <p>
            Adopters with a criminal record are not automatically disqualified. However,
            the severity of the crime affects the decision. Felonies are a guaranteed disqualification,
            while misdemeanors are reviewed case-by-case. Convicted felons who believe their past
            offenses should not affect their application can contact us for a review.
        </p>
    </div>

    <div class="policy-section">
        <h5>Interview Process</h5>
        <p>
            Once your application is reviewed, and we decide to proceed, we will contact you
            for an interview. In-person interviews are preferred for local applicants,
            while virtual interviews will be conducted for others.
        </p>
    </div>

    <div class="policy-section">
        <h5>Pet History</h5>
        <p>
            You will be asked about your pet history to ensure you have the necessary knowledge to adopt a dog.
            If you lack prior experience, you will be required to complete a class on dog care to ensure you are
            prepared to take on the responsibility.
        </p>
    </div>

    <h4>Any issues? Visit our <a href="/faq">About Us</a> page for frequently asked questions.</h4>
</div>

@code {

}
