@page "/policies"

<PageTitle>Adoption Policies</PageTitle>

<div>
    <h2>Our Policies</h2>
    <p>At Fur-Ever Homes, we have some polices in place to ensure that our dogs have a safe home. 
        If you have any questions, feel free to visit our contact page</p>
    <p>We also reserve the right to deny any adoption request that we deem unfit.</p>
    <h5>Income</h5>
        <p>We require a minumum monthly income of $3000 dollars. Depending on the situation, this may not be enough to ensure
            that the dog has a safe home. If you feel that you would be able to take care of a dog and you do not met this
            requirement, please feel free to apply and we will review your case</p>
    <h5>Number of Pets in a household</h5>
    <p>We have a limit of 6 pets per household in order to adopt a dog. This is to ensure that the dog will be cared for enough
        and the household will not be crowded. 
    </p>
    <h5>Number of Human Residents in a Household</h5>
    <p>We have a max number of 8 residents in a household. We have this in place to ensure that the house is not too crowded
        and enough time is able to be devoted to the dog. In cases where the household has both a large amount of both humans
        and pets, we may deny applications for lower amounts.
    </p>
    <h5>Criminal Record</h5>
    <p>Adopters with a criminal record are not prevented from applying, but depending on the severity of the crime
        then there will be less of a chance of an adoption to be made. A felony is a guaranteed no for adopting, a 
        misdemeanor is up to our discretion. If you are a convicted felon and you feel that it was long enough
        ago for you to be allowed to make an adoption, contact us and we will review your case. 
    </p>
    <h5>Interview Process</h5>
    <p>Once we have recieved your application and we feel that we are ready to move forward with the next step in the process, 
        we will reach out for an interview. If you are located close enough to our facility then we will invite you to an in-person
        interview, otherwise a virtual interview will be conducted.
    </p>
    <h5>Pet History</h5>
    <p> You will be asked about your pet history prior to adopting this dog. We do this to ensure that you have enough knowledge to 
        adopt a dog. If you have no pet history, you will be required to take a class on caring for a dog. This is required because
        many people do not actually know how to take care of a dog. 
    </p>
    <h4>Any issues? Feel free to visit our about us page for commonly asked questions. </h4>
    
    
</div>

@code {



}